.backHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.headerWrapperPayment{
    width: 100%;
    height: 60px;
    position: relative;
}
.footerWrapperPayment{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}
.paymentDate{
    width: 92%;
    height: 50px;
    background-color: #3599e6;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.actionEditPay{
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px #a3a2a0;
    border-color: #dbd8d0;
    border-style: solid;
    border-width: 0.1px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.actionLanjut{
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px #a3a2a0;
    border-color: #dbd8d0;
    border-style: solid;
    border-width: 0.1px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 5px;
}
.structWrapper{
    margin: auto;
    width: 95%;
    margin-top: 20px;
}